@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header,
.footer,
.content,
.buttons,
.pageBody,
ul {
  display: flex;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(109, 107, 107);
}

.header .left-links {
  flex: auto;
  margin-right: auto;
  gap: 20px;
}

.header .right-links {
  flex: auto;
  margin-left: auto;
  gap: 20px;
}

.content {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.buttons {
  justify-content: center;
  gap: 10px;
}

.buttons button {
  flex: auto;
  height: 40px;
  font-weight: bold;
  padding: 10px 20px;
}

.footer .left-links {
  flex: auto;
  margin-right: auto;
  gap: 20px;
}

.footer .right-links {
  flex: auto;
  margin-left: auto;
  gap: 20px;
}

.footer {
  background-color: rgb(224, 221, 221);
  margin-top: auto;
}

.spacer {
  width: 500px;
  margin: auto;
  flex: 15 1 auto;
}

.header {
  flex: 1 0 auto;
}

.content {
  flex: 2 0 auto;
}

.footer {
  flex: 1 0 auto;
}

.pageBody {
  flex-direction: column;
  justify-content: space-between;
  gap: 250px;
}